{% extends "layout.html" %} {% block content %}

<div class="container">
  <form class="row g-3" method="post">
    <div class="col-md-4">
      <label for="proces" class="form-label">PROCES</label>
      <select id="proces" class="form-select" name="proces">
        <option selected>WYBIERZ</option>
        {% for proces in lista_procesow %}
        <option>{{proces}}</option>

        {% endfor %}
      </select>
    </div>

    <div class="col-md-6">
      <label for="nazwaProcesu" class="form-label">NAZWA PROCESU</label>
      <input
        type="text"
        class="form-control"
        id="nazwaProcesu"
        name="nazwa_procesu"
      />
    </div>
    <div class="col-md-3">
      <label for="pracownik" class="form-label">PRACOWANIK</label>
      <select id="pracownik" class="form-select" name="pracownik">
        <option selected>WYBIERZ</option>
        {% for pracownik in lista_pracownikow %}

        <option>{{pracownik}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-3">
      <label for="preferowanyCzasWykonania" class="form-label"
        >CZAS WYKONANIA [minuty]</label
      >
      <input
        type="number"
        class="form-control"
        id="preferowanyCzasWykonania"
        name="preferowany_czas_wykonania"
        min="1"
        step="1"
        value="1"
      />
    </div>

    <div class="col-12">
      <label for="uwagiKierownika" class="form-label">UWAGI KIEROWNIKA</label>
      <input
        type="text"
        class="form-control"
        id="uwwagiKierownika"
        name="uwagi_kierownika"
        placeholder="jakies uwagi"
      />
    </div>

    <div class="col-md-3">
      <label for="planowanaDataRozpoczecia" class="form-label"
        >PLANOWANA DATA ROZPOCZECIA</label
      >
      <input
        type="text"
        class="form-control"
        id="planowanaDataRozpoczecia"
        name="planowana_data_rozpoczecia"
        value="YYYY-MM-DD"
      />
    </div>

    <div class="col-12">
      <input type="submit" class="btn btn-primary" value="DADAJ PROCES" />
    </div>
  </form>
</div>

{% endblock %}
