{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body text-center">
                <h1>
                    DODAJ PROCES DLA PRACOWNIKA
                </h1>
            </div>
        </div>
    </div>   
</div>
<div class="container">
    <div class="row mb-5">

        <h3>pracownik nr: 5</h3>
        <div class="input-group mb-3">
            <select class="form-select">
                <option selected>Wybierz</option>
                <option value="1">1</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select> 
        </div>
        <button type="button" class="btn btn-success">ZMIEN PRACOWNIKA</button>
        <hr>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dodajProcesModal">
            Dodaj proces
         </button>
    </div>
    {% for p in procesy_przydzielone %}

    <div class="row mb-1">
        <div class="card">
            <div class="card-header">PROCES NR {{loop.index}} NA DZIEN YYYY:MM:DD, STATUS: {{p["status"]}}</div>
            <div class="card-body">
                <div class="row">

                    <div class="col">
    
                        <h4 class="card-title">{{p["proces"]}}</h4>
                        <h5 class="card-title">{{p["nazwa_procesu"]}}</h5>
                        <h5 class="card-title">PRIORYTET PROCESU: {{p["priorytet"]}}</h5>
                    </div>
                    <div class="col">
                        
                        <p class="card-text"><strong>                            
                            PREFEROWNY CZAS WYKONANIA: {{p["preferowany_czas_wykonania"]}}</p>
                        </strong>
                        <p class="card-text">CZAS START: {{p["czas_start"]}}</p>
                        <p class="card-text">CZAS START: {{p["czas_stop"]}}</p>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary">COS TAM</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% endfor %}
    
</div>

<div class="modal fade" id="dodajProcesModal" tabindex="-1" aria-labelledby="dodajProcesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dodajProcesModalLabel">Proces</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                        <div class="row">

                            <label class="form-label" for="nr_pracownika">NR PRACOWNIKA</label>
                            <input class="form-control" type="text" name="nr_pracownika" id="nr_pracownika">
                        </div>
                        <div class="row">
                            <label class="form-label" for="nazwa_procesu">NAZWA PROCESU</label>
                            <input class="form-control" type="text" name="nazwa_procesu" id="nazwa_procesu">

                        </div>
                        <div class="row">

                            <label class="form-label" for="dzien_rozpoczecia">DZIEN ROZPOCZECIA</label>
                            <input class="form-control" type="date" name="dzien_rozpoczecia" id="dzien_rozpoczecia">
                        </div>
                        <div class="row">

                            <label class="form-label" for="priorytet">PRIORYTER</label>
                            <input class="form-control" type="number" min="0" max="255" step="1" name="priorytet" id="priorytet">
                        </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">DODAJ PROCES</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}