{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body text-center">
                <h1>
                    DODAJ PROCES DLA PRACOWNIKA
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
    
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dodajProcesModal">
               Dodaj proces
            </button>


            <!-- <input type="text" name="nr_pracownika" id="nr_pracownika"> -->
      
    </div>
</div>

<div class="modal fade" id="dodajProcesModal" tabindex="-1" aria-labelledby="dodajProcesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dodajProcesModalLabel">Proces</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                        <label for="nr_pracownika">NR PRACOWNIKA</label>
                        <input type="text" name="nr_pracownika" id="nr_pracownika">
                        <label for="nazwa_procesu">NR PRACOWNIKA</label>
                        <input type="text" name="nazwa_procesu" id="nazwa_procesu">
                        <label for="dzien_rozpoczecia">NR PRACOWNIKA</label>
                        <input type="text" name="dzien_rozpoczecia" id="dzien_rozpoczecia">
                        <label for="priorytet">NR PRACOWNIKA</label>
                        <input type="text" name="priorytet" id="priorytet">

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}