{% extends "layout.html" %} {% block content %} {{proces}}
<div class="container">
  <form class="row g-3" method="post">
    <div class="col-md-6">
      <label for="nazwaProcesu" class="form-label">NAZWA PROCESU</label>
      <input
        type="text"
        class="form-control"
        id="nazwaProcesu"
        name="nazwa_procesu"
        value="{{proces[1]}}"
      />
    </div>
    <div class="col-md-3">
      <label for="pracownik" class="form-label">PRACOWANIK</label>
      <select id="pracownik" class="form-select" name="pracownik">
        <option selected>WYBIERZ</option>
        {% for pracownik in lista_pracownikow %}

        <option>{{pracownik}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-3">
      <label for="preferowanyCzasWykonania" class="form-label"
        >CZAS WYKONANIA [minuty]</label
      >
      <input
        type="number"
        class="form-control"
        id="preferowanyCzasWykonania"
        name="preferowany_czas_wykonania"
        min="1"
        step="1"
      />
    </div>

    <div class="col-12">
      <label for="uwagiKierownika" class="form-label">UWAGI KIEROWNIKA</label>
      <input
        type="text"
        class="form-control"
        id="uwwagiKierownika"
        name="uwagi_kierownika"
        placeholder="jakies uwagi"
      />
    </div>

    <div class="col-md-3">
      <label for="planowanaDataRozpoczecia" class="form-label"
        >PLANOWANA DATA ROZPOCZECIA</label
      >
      <input
        type="text"
        class="form-control"
        id="planowanaDataRozpoczecia"
        name="planowana_data_rozpoczecia"
        placeholder="{{proces[3]}}"
      />
    </div>

    <div class="col-12">
      <input type="submit" class="btn btn-primary" value="ZAPISZ ZMIANY" />
    </div>
  </form>
</div>
{% endblock %}
