{% extends "layout.html" %} {% block content %}

<div class="container">
  <form class="row g-3" method="post">
    <div class="col-md-6">
      <label for="nazwaProcesu" class="form-label">NAZWA PROCESU</label>
      <input
        type="text"
        class="form-control"
        id="nazwaProcesu"
        name="nazwa_procesu"
        value="{{proces.nazwa_procesu}}"
      />
    </div>
    <div class="col-md-3">
      <label for="pracownik" class="form-label">PRACOWANIK</label>
      <select id="pracownik" class="form-select" name="pracownik">
        <option selected>{{przypisany_pracownik}}</option>
        {% for pracownik in lista_pracownikow %}
        <option>{{pracownik}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-3">
      <label for="preferowanyCzasWykonania" class="form-label"
        >CZAS WYKONANIA [minuty]</label
      >
      <input
        type="number"
        class="form-control"
        id="preferowanyCzasWykonania"
        name="preferowany_czas_wykonania"
        value="{{proces.preferowany_czas_wykonania}}"
        min="1"
        step="1"
      />
    </div>

    <div class="col-12">
      <label for="uwagiKierownika" class="form-label">UWAGI KIEROWNIKA</label>
      <input
        type="text"
        class="form-control"
        id="uwwagiKierownika"
        name="uwagi_kierownika"
        {% if proces.uwagi_kier %}
          value = "{{proces.uwagi_kier}}"
        {% else %}
          placeholder="Dodaj uwagę"
        {% endif %}
      />
    </div>

    <div class="col-md-3">
      <label for="planowanaDataRozpoczecia" class="form-label"
        >PLANOWANA DATA ROZPOCZECIA</label
      >
      <input
        type="text"
        class="form-control"
        id="planowanaDataRozpoczecia"
        name="planowana_data_rozpoczecia"
        value="{{proces.planowany_dzien_rozpoczecia}}"
      />
    </div>

    <div class="col-12">
      <input
        type="submit"
        class="btn btn-primary"
        name="zapisz_zmiany"
        value="ZAPISZ ZMIANY"
      />
      <a href="{{url_for('podglad_procesow')}}" class="btn btn-secondary">PODGLAD PROCESOW</a>
    </div>
  </form>
</div>
{% endblock %}
