{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h4>LISTA PROCESÓW W TOKU DLA {{user_name}}</h4>
    <div class="row mb-3 overflow-scroll" style="height: 400px;">
        {% for i in procesy %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{i[1]}}</h5>
               
                <div class="container">
                    <div class="row">

                        <div class="col">
                            <form method="post">
                                <button type="submit" name="start_{{i[0]}}"
                                    class="btn btn-success btn-lg">Start</button>
                            </form>
                        </div>


                        <div class="col">
                            <form method="post">
                                <button type="submit" name="stop_{{i[0]}}"
                                    class="btn btn-danger btn-lg">Stop</button>
                            </form>
                        </div>

                        <div class="col">                            
                            <button type="button" class="btn btn-info btn-lg" data-bs-toggle="modal"
                                data-bs-target="#uwagiPracownika" data-bs-whatever="{{user_name}}_{{i[0]}}">
                                UWAGI
                            </button>
                           
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    
    <div class="modal fade" id="uwagiPracownika" tabindex="-1"
    aria-labelledby="uwagiPracownikaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uwagiPracownikaLabel">Uwagi do procesu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <label for="uwagiDoProcesu" class="col-form-label">Wpisz uwagi do procesu</label>
                    <textarea class="form-control" name="uwagiDoProcesu"></textarea>
                    <input type="submit" class="btn btn-lg" name="zapiszUwagiDoProcesu">ZAPISZ UWAGE</input>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>
    <div class="row">
        jakies inne rzeczy
    </div>
</div>

<script>
  var uwagiPracownikaModal = document.getElementById('uwagiPracownika');

  uwagiPracownikaModal.addEventListener('show.bs.modal', function (event) {

  var button = event.relatedTarget;

  var opis = button.getAttribute('data-bs-whatever');
 
  var username = opis.split("_")[0]
  var id_procesu = opis.split("_")[1]
 
  var modalTitle = uwagiPracownikaModal.querySelector('.modal-title');
  var modalBodyInput = uwagiPracownikaModal.querySelector('.modal-body input');

  modalTitle.textContent = username + ': UWAGI DO PROCESU NR: ' + id_procesu;
  modalBodyInput.value = username;
    });
</script>

{% endblock %}