<!doctype html>
<html lang="en">
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>KOD MIEJSCA</title>
  </head>
  <body>
    <a href="{{url_for('logout')}}">Wyloguj</a>
    <a href="{{url_for('kod_wozka')}}">KOD WOZKA</a>
    <h1>KOD MIEJSCA</h1>

    <div class="container">

      <div class="row mb-3">

        <form method="post" enctype="multipart/form-data">
          <label for="camera_image" class="form-label form-control-lg">Załaduj zdjecie kodu miejsca</label>
          <input class="form-control" type="file" name="camera_image" accept="image/*" capture="camera">
          <br>
          <input class="btn btn-primary" type="submit" name="zaladuj_miejsce" value="Zładuj kod meiejsca">
        </form>
      </div>
      <div class="row mb-3">

        <form method="post">
    
          <input type="text" class="form-control" name="nurmerWozka" value="{{numer_wozka}}">
          <input type="text" class="form-control" name="kodMiejsca" value="{{kod_miejsca}}">
          <input class="btn btn-primary" type="submit" name="miejsce_wozek" value="POTWIERDZ">
        </form>

      </div>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

   
  </body>
</html>
