<!doctype html>
<html lang="en">
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>KOD WÓZKA</title>
  </head>
  <body>
    <a href="url_for(logout)">Wyloguj</a>
    <h1>KOD WÓZKA</h1>

    <form method="post" enctype="multipart/form-data">

        <input id="myFileInput" class="btn btn-primary" type="file" name="camera_image" accept="image/*" capture="camera">
        <!-- <input class="btn btn-primary" type="file" name="camera_image" accept="image/*" capture="camera"> -->
        <!-- <input class="btn btn-primary" type="submit" value="Prześlij"> -->
    </form>


    <script>

fetch('/static/rout_url.json')
    .then(response => response.json())
    .then(data => {
        
        
        // Extract the server URL from the loaded data
        const serverUrl = data.kod_wozka;

        var myInput = document.getElementById('myFileInput');

        function sendPic() {
            var file = myInput.files[0];
            if (file) {
                var formData = new FormData();
                formData.append('camera_image', file);

                var xhr = new XMLHttpRequest();
                xhr.open('POST', serverUrl, true);  // Use the URL from the JSON file

                xhr.onload = function () {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        if (response.redirect_url) {
                            window.location.href = response.redirect_url;
                        } else {
                            console.log('File uploaded successfully, but no redirect URL provided.');
                        }
                    } else {
                        console.error('An error occurred during the upload:', xhr.statusText);
                        console.error('Status:', xhr.status);
                        console.error('Response:', xhr.responseText);
                    }
                };

                xhr.onerror = function () {
                    console.error('A network error occurred.');
                };

                xhr.upload.onprogress = function(event) {
                    if (event.lengthComputable) {
                        var percentComplete = (event.loaded / event.total) * 100;
                        console.log(`File upload progress: ${percentComplete.toFixed(2)}%`);
                    }
                };

                // Add additional data from JSON to formData if needed
                formData.append('numer_wozka', data.numer_wozka);

                xhr.send(formData);
            } else {
                console.error('No file selected');
            }
        }

        myInput.addEventListener('change', sendPic, false);
    })
    .catch(error => console.error('Error loading JSON:', error));
    </script>
 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

   
  </body>
</html>
