{% extends "layout.html" %}

{% block content %}

<h1>KOD MIEJSCA</h1>

<div class="container">
  <div class="row mb-3">
    <form id="upload-form" method="post" enctype="multipart/form-data">
      <label for="camera_image" class="btn btn-primary btn-lg">ZESKANUJ KOD MIEJSCA</label>     
      <input id="camera_image" class="form-control" type="file" name="camera_image" accept="image/*" capture="camera" style="display: none;">
    </form> 
  </div>
  
  <div class="row mb-3">
    <form method="post">
      <input type="text" class="form-control" name="numerWozka" value="{{numer_wozka}}">
      <input type="text" class="form-control" name="kodMiejsca" value="{{kod_miejsca}}">
      <br>
      <input class="btn btn-primary" type="submit" name="miejsce_wozek" value="POTWIERDZ">
    </form>
  </div>

  <div class="row mb-3">
    <hr>    
    <a href="{{url_for('aktualny_stan_magazynu')}}" class="btn btn-primary btn-lg" role="button">AKTUALNY STAN MAGAZYNU</a> 
    <hr>
    <a href="{{url_for('index')}}" class="btn btn-lg btn-primary" role="button">STRONA STARTOWA</a>
    <hr>
    <a href="{{url_for('logout')}}" class="btn btn-lg btn-danger" role="button">WYLOGUJ</a>
  </div>
</div>

<script>
  document.getElementById("camera_image").addEventListener("change", function () {
    var fileInput = document.getElementById("camera_image");
    var formData = new FormData();
    
    if (fileInput.files.length > 0) {
      formData.append("camera_image", fileInput.files[0]);

      fetch("", {
        method: "POST",
        body: formData
      })
      .then(response => response.json())
      .then(data => {
        if (data.redirect_url) {
          window.location.href = data.redirect_url;
        } else {
          console.error("Brak przekierowania");
        }
      })
      .catch(error => {
        console.error("Błąd przesyłania pliku:", error);
      });
    } else {
      console.error("Nie wybrano pliku");
    }
  });

  document.querySelector('label[for="camera_image"]').addEventListener("click", function (event) {
    event.preventDefault();
    document.getElementById("camera_image").click();
  });
</script>

{% endblock %}
