{% extends "layout.html" %}

{% block content %}

<div class="container-fluid">
    <a href="{{url_for('index')}}" class="btn btn-lg btn-primary" role="button">STRONA STARTOWA</a>
    <hr>
   
        <div class="row">
            <div class="col-3">

                <h3>PROCESY AKTYWNE</h3>

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>pid</th>
                            <th>nazwa_procesu</th>
                            <th>uid</th>
                            <th>data utworzenia</th>
                            <th>planowany dzien rozpoczecia</th>
                            <th>preferowany czas wykonania</th>
                            <th>status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pp in pp_aktywne %}
                        <tr>
                            {% for p in pp %}
                            <td>{{p}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="col-3">
                <h3>PROCESY WSTRZYMANE</h3>

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>pid</th>
                            <th>nazwa_procesu</th>
                            <th>uid</th>
                            <th>data utworzenia</th>
                            <th>planowany dzien rozpoczecia</th>
                            <th>preferowany czas wykonania</th>
                            <th>status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pp in pp_wstrzymane %}
                        <tr>
                            {% for p in pp %}
                            <td>{{p}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
       
            <div class="col-3">
                <h3>PROCESY NIEROZPOCZETE</h3>

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>pid</th>
                            <th>nazwa_procesu</th>
                            <th>uid</th>
                            <th>data utworzenia</th>
                            <th>planowany dzien rozpoczecia</th>
                            <th>preferowany czas wykonania</th>
                            <th>status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pp in pp_nierozpoczete %}
                        <tr>
                            {% for p in pp %}
                            <td>{{p}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-3">
            DANE O PROCESACH
        </div>
    

</div>

</div>

{% endblock %}